# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.BlockOfFate.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Projects\Unity\Lerning\LerningProgect\BlockOfFate\.idea\.idea.BlockOfFate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
